/*##################################
######### HEADER ###################
##################################*/

#header{
  text-align: center;
}

ul#nav{
  list-style: none;
}

ul#nav li{
  margin-top: 20px;
}

/*###################################
######### PROCESS ###################
###################################*/

#process{
  text-align: center;
}

/*###################################
######### PORTFOLIO/TEAM/CONTACT ###
###################################*/

#portfolio, #team, #contact{
  text-align: center;
}


/*###################################
########### FOOTER ##################
###################################*/

#footer{
  color: white;
  margin-top: 20px;
}

#footer a{
  color: white;
  font-size: 18px;
}

/*###################################
###### FONT STYLES ##################
###################################*/

h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
}

ul#nav li{
  font-family: Helvetica;
  font-size: 18px;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p1{
  font-family: Helvetica;
  font-size: 14px;
  display: block;
}

.small-text{
  font-size: 11px;
}

/*####################################
########## FOREGROUND COLORS #########
####################################*/

.white-text{
  color: white;
}

ul#nav li a{
  color: white;
}

/*#####################################
######### BACKGROUND STYLES ###########
#####################################*/

.building-bg{
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.dimgray-bg{
  background-color: dimgray;
}
